.accordion_title {
  @apply flex justify-between items-center;
  @apply cursor-pointer;
  @apply rounded-2xl;
  @apply bg-gradient-to-r from-marengo from-50% to-nevada to-50%;
  background-size: 200% 100%;
  transition: background-position 0.5s;
}
.accordion_title:hover {
  background-position: -100% 0;
}
.accordion_title,
.accordion_content {
  @apply p-4;
}

.accordion_content {
  @apply rounded-2xl;
}
