@tailwind base;

@layer base {
  :root {
    --color-white: 255, 255, 255;
    --color-black: 17, 19, 20;

    --color-stone: 246, 238, 227;
    --color-red: 238, 106, 83;
    --color-pink: 255, 204, 197;
    --color-lavender: 174, 181, 245;
    --color-orange: 254, 179, 139;
    --color-green: 115, 190, 70;

    --color-neutral-200: 231, 229, 228;
    --color-neutral-300: 214, 211, 209;
    --color-neutral-400: 168, 162, 158;
    --color-neutral-500: 120, 113, 108;

    --sidebar-account-box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.1);
    --sidebar-box-shadow: -12px 4px 20px 0px rgba(0, 0, 0, 0.04);

    --color-scarpa-flow: 90, 90, 99;
    --color-shuttle-gray: 95, 102, 118;
    --color-nevada: 99, 108, 124;
    --color-trout: 75, 81, 95;
    --color-marengo: 79, 86, 101;
    --color-bright-gray: 62, 64, 77;
    --color-light-gunmetal: 45, 46, 57;
    --color-steel-gray: 38, 39, 51;
    --color-dark-gunmetal: 31, 32, 44;
    --color-pastel-green: 124,238,129;
    --color-light-salmon: 255,146,153;
  }
}
